<main>
    <div class="movie-container">
        <div class="movie-box">
            <img src="https://www.vintagemovieposters.co.uk/wp-content/uploads/2023/03/IMG_1887-scaled.jpeg" alt="The Avengers">
            <div class="movie-info">
                <h2>The Avengers</h2>
                <p class="genre">Action</p>
                <p>Director: Joss Whedon</p>
                <p>Release Year: 2012</p>
            </div>
        </div>

        <div class="movie-box">
            <img src="https://i.ebayimg.com/images/g/b~4AAOSwP3FgijQ7/s-l1600.jpg" alt="Deadpool">
            <div class="movie-info">
                <h2>Deadpool</h2>
                <p class="genre">Action</p>
                <p>Director: Tim Miller</p>
                <p>Release Year: 2016</p>
            </div>
        </div>
    </div>
</main>