<main id="welcome-screen">
<link rel="stylesheet" href="/home.css">
<h1>Welcome to the Movie Forum!</h1>

<p>
    Movies can and do have tremendous influence in shaping young lives in the realm of entertainment towards the ideals and objectives of normal adulthood.
</p>
<h3>Walt Disney</h3>
</main>
