<main id="add-form">
    <form method="post">
        <h2>Register:</h2>  
        <label for="title">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="genre">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="release-year">Repeat Password:</label>
        <input type="password" id="rePassword" name="rePassword" required>

        <button type="submit">Register</button>
    </form>
</main>