body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}

nav a:hover{
    color: orange;
}

h1 {
    color: #333;
}

.content {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#welcome-screen {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 150px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    0% {
        margin-left: 10%;
    }

    100% {
        margin-left: 29%;
    }
}

#welcome-screen h1 {
    color: #333;
    text-align: center;
}

#welcome-screen p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    border-left: 2px solid #0077cc;
    padding-left: 15px;
    font-style: italic;
}

#welcome-screen h3 {
    color: #0077cc;
    text-align: center;
}

#welcome-screen a {
    color: #0077cc;
    text-decoration: none;
}

#welcome-screen a:hover {
    text-decoration: underline;
}

#add-form form {
    font-family: 'Arial', sans-serif;
    max-width: 500px;
    margin: 40px auto;
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#add-form label {
    display: block;
    margin-bottom: 8px;
}

#add-form input,
select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#add-form button {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-form button:hover {
    background-color: #005580;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie-box {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.movie-box img {
    width: -webkit-fill-available;
    min-height: auto;
    max-height: 400px;
    object-fit: scale-down;
    border-bottom: 1px solid #ddd;
}

.movie-info {
    padding: 15px;
}

.movie-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.movie-box p {
    color: #555;
    margin-bottom: 5px;
}

.genre {
    font-style: italic;
}


#movie-details {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#movie-details h1 {
    color: #333;
    margin-bottom: 10px;
}

#movie-details img.cube {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

#movie-details .details {
    margin-top: 20px;
    text-align: center;
}

#movie-details p {
    margin: 0;
    padding: 5px 0;
}

#movie-details p span {
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 15px;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #005580;
}

